<div class="login">
    <div class="inner">

        <form action="/updateContent" enctype="multipart/form-data" method="post" id="videoForm" name="videoForm"
              class="">
            <input name="countQuestion" value="1" type="hidden" class="countQuestion"/>
            <input name="removedQuestions" value="" type="hidden" class="removedQuestions"/>
            <input name="surveyOrder" value="" type="hidden" class="surveyOrder"/>

            <%if(role==0){%>
            <h2>DEMO ROCKET DEFAULT CAMPAIGN</h2><br/>
            <input type="hidden" name="nameOfCampaign" value="Default Campaign"/>
            <%}else{%>
            <span>Please enter name of campaign:</span><br/>

            <div class="uploadContainer text">
                <div class="left">
                    <input type="text" name="nameOfCampaign" value="<%=content.nameOfCampaign%>" />
                </div>
            </div>
            <%}%>
            <h2>STEP 1: CHOOSE YOUR MAIN VIDEO</h2>

            <div class="left">
                <span>Please enter brief description:</span><br/>
                <textarea  name="desc"><%=content.mainVideoDescription%></textarea>
            </div>
            <div class="right mainVideoContainer">
                <span>Upload video from computer:</span>

                <div class="uploadContainer file">
                    <div class="left">
                        <input type="text" placeholder="Drop file here" readonly="readonly"
                               value="<%=decodeURIComponent(content.mainVideoUri.split('/').pop())%>" />
                    </div>
                    <div class="right">
                    </div>
                    <input type="file" name="video" accept="video/mp4,video/x-m4v,video/*"/>
                </div>
                <br/>
                <span>Or paste a link:</span>

                <div class="uploadContainer link">
                    <div class="left">
                        <input type="text" name="video" />
                    </div>
                    <div class="right">
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>

            <h2>STEP 2: PLEASE ENTER SURVEY QUESTIONS</h2>
            <span>Potential leads will be asked to indicate their level of interest in a topic. Levels of interest include: Not Important, Somewhat Important and Very Important</span>

            <div class="clear">
            </div>
            <div id="sortable" class="collapseQuestions">


                <!--<div class="videoContainer">-->
                <div class="survey new" data-id="new">
                    <div class="collapseQuestion hidden">
                        <div class="edit"></div>
                        <div class="close"></div>
                        <h2></h2>
                        <span class="relatedVideo"></span>&nbsp;&nbsp;&nbsp;
                        <span class="relatedPdf"></span>
                    </div>

                    <div class="videoElement">
                        <div class="left">
                            <span>Please enter brief description:</span>
                            <textarea name="question<%=count%>" class="questionText"></textarea>
                        </div>
                        <div class="right">
                            <span>Upload video from computer:</span>

                            <div class="uploadContainer file">
                                <div class="left">
                                    <input type="text" placeholder="Drop file here" value="" readonly="readonly"/>
                                </div>
                                <div class="right">
                                </div>
                                <input type="file" name="video<%=count%>" accept="video/mp4,video/x-m4v,video/*"/><br/>
                            </div>
                            <br/>
                            <span>Or paste a link:</span>

                            <div class="uploadContainer link">
                                <div class="left">
                                    <input type="text" name="video<%=count%>"/>
                                </div>
                                <div class="right">
                                </div>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                        <div class="left">
                            <span>Upload related PDF’s (You can choose more than one file): </span>

                            <div class="uploadContainer file long">
                                <div class="left">
                                    <input type="text" placeholder="Or drop file here" value="" readonly="readonly"/>
                                </div>
                                <div class="right">
                                </div>
                                <input type="file" name="file<%=count%>" multiple accept="application/pdf"/><br/>
                            </div>
                        </div>
                        <div class="right">
                            <span>&nbsp;</span><br/>
                            <button class="edit question">ADD QUESTION</button>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            </div>


            <h2>STEP 3: UPLOAD YOUR LOGO</h2>

            <div class="clear">
            </div>
            <div class="left relative">
                <span>Upload your logo from computer:</span><br/>

                <div class="uploadContainer file long">
                    <div class="left">
                        <input type="text" placeholder="Or drop file here" readonly="readonly"
                               value="<%=decodeURIComponent(content.logoUri.split('/').pop())%>" />
                    </div>
                    <div class="right">
                    </div>
                    <input type="file" name="logo" accept="image/*"/>
                </div>
                <br/>
                <canvas id="preview" width="100" height="100"></canvas>
                <div id="arrowPreview">
                </div>
            </div>
            <div class="right">
                <span>Company Name:</span><br/>

                <div class="left">
                    <div class="uploadContainer text">
                        <div class="left">
                            <input type="text" name="name" value="<%=content.name%>" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>


            <div class="clear">
            </div>

            <h2>STEP 4: ENTER «CONTACT ME» INFO</h2>

            <div class="clear">
            </div>
            <div class="left">
                <span>Email:</span><br/>

                <div class="uploadContainer text long">
                    <div class="left">
                        <input type="text" name="email" value="<%=content.email%>" />
                    </div>
                </div>
                <br/>
            </div>
            <div class="right">
                <span>Phone:</span><br/>

                <div class="left">
                    <div class="uploadContainer text">
                        <div class="left">
                            <input type="text" name="phone" value="<%=content.phone%>" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
            <div class="buttons">
                <button class="decline">CANCEL</button>
                <input type="submit" value="SAVE" class="save edit"/>
            </div>
            <div class="clear">
            </div>

        </form>
    </div>

</div>
<div class="haveContent">
  <span>
	<h1>You already have content</h1><br/>
	<input type="text" value="" readonly/>
  </span><br/><br/>
    <button class="removeContent">Delete Content</button>
</div>
