<div class="survey canSort" data-id="<%=surveyId%>">

    <div class="collapseQuestion">
        <div class="edit"></div>
        <div class="close">
        </div>
        <h2><%=question %></h2>
        <span class="relatedVideo">Related video: <b><%=decodeURIComponent(video.split('/').pop())%></b></span>&nbsp;&nbsp;&nbsp;
        <%if(pdf){%>
        <span class="relatedPdf">Related PDF: <b><%=pdf %></b></span>
        <%}else{%>
        <span class="relatedPdf"></span>
        <%}%>
    </div>

    <div class="videoElement hidden">
        <div class="left">
            <span>Please enter brief description:</span>
            <textarea name="question<%=index%>" class="questionText"><%=question%></textarea>
        </div>
        <div class="right">
            <span>Upload video from computer:</span>

            <div class="uploadContainer file">
                <div class="left">
                    <%if(video.indexOf(contentId)!==-1){%>
                    <input type="text" placeholder="<%=decodeURIComponent(video.split('/').pop())%>" value="<%=decodeURIComponent(video.split('/').pop())%>" readonly="readonly"/>
                    <%}else{%>
                    <input type="text"  readonly="readonly"  placeholder="Drop file here" value="" />
                    <%}%>
                </div>
                <div class="right active">
                </div>
                <input type="file" name="video<%=index%>" accept="video/mp4,video/x-m4v,video/*"/><br/>
            </div>
            <br/>
            <span>Or paste a link:</span>

            <div class="uploadContainer link">
                <div class="left">
                    <%if(video.indexOf(contentId)===-1){%>
                    <input type="text" name="video<%=index%>"  placeholder="" value="<%=video%>" readonly="readonly"/>
                    <%}else{%>
                    <input type="text"  name="video<%=index%>" placeholder="" value="" />
                    <%}%>
                </div>
                <div class="right">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="left">
            <span>Upload related PDF’s (You can choose more than one file): </span>

            <div class="uploadContainer file long">
                <div class="left">
                    <input type="text" placeholder="<%=pdf&&pdf.length?pdf:'Or drop file here'%>" value="<%=pdf%>" readonly="readonly"/>
                </div>
                <div class="right<%=pdf&&pdf.length?' active':''%>">
                </div>
                <input type="file" name="file<%=index%>" multiple accept="application/pdf"/><br/>
            </div>
        </div>
        <div class="right">
            <span>&nbsp;</span><br/>
            <button class="question">SAVE</button>
        </div>
        <div class="clear"></div>
    </div>

</div>
