<div class="pricing">
  <div class="inner">
	<h2>PRICING</h2>
	<div class="line"></div>
	<p>DemoRocket is the market’s most affordable way to showcase your product or
	  service, learn what your prospects want and close more deals. DemoRocket’s
	  pricing is super flexible and designed to allow anyone to try it.</p>
	<div class="purchasing">
		<h3>The “Quick Hit”</h3>
		 <ul>
			<li><span class="bold-purch-text">3 month  </span>campaign</li>
			<li>Account for up to <span class="bold-purch-text">3 users</span></li>
			<li>Demo analytics <span class="bold-purch-text">reports</span></li>
			<li>Fast email <span class="bold-purch-text">notifications</span></li>
		 </ul>
		 <button class="purchasing-butt"><p>purchase</p></button>
		 <p class="purchasePrice">Starting at $1,500</p>
	</div>
	<div class="purchasing">
		<h3 class="purchBigCapt">The “Getting Serious”</h3>
		 <ul>
			<li><span class="bold-purch-text">6 month </span>campaign</li>
			<li>Account for up to <span class="bold-purch-text">5 users</span></li>
			 <li>Demo analytics <span class="bold-purch-text">reports</span></li>
			<li>Fast email <span class="bold-purch-text">notifications</span></li>
		 </ul>
		<button class="purchasing-butt"><p>purchase</p></button>
		<p class="purchasePrice">Starting at $1,000</p>
	</div>
	<div class="purchasing">
		<h3>The &laquo;Long Haul&raquo</h3>
		<ul>
		  <li><span class="bold-purch-text">12 month </span>campaign</li>
		  <li>Account for up to <span class="bold-purch-text">10 users</span></li>
			<li>Demo analytics <span class="bold-purch-text">reports</span></li>
		  <li>Fast email <span class="bold-purch-text">notifications</span></li>
		</ul>
		<button class="purchasing-butt"><p>purchase</p></button>
		<p class="purchasePrice">Starting at $900</p>
	</div>
	<div class="purchasing">
		<h3>Custom Package</h3>
		<p class="purchCastomText">
		  Why don’t you just <span class="bold-purch-text">tell us what you
		  want</span> and we’ll figure something out
		  that works for you?</p>
		<button class="purchasing-butt contact-butt"><p>contact</p></button>
		<p class="purchasePrice">*Contractual price</p>
	</div>
  </div>

</div>
