<div class="pricing">
  <div class="inner">
	<h2>PRICING</h2>
	<p>DemoRocket is the market’s most affordable way to showcase your product or
	  service, learn what your prospects want and close more deals. DemoRocket’s
	  pricing is super flexible and designed to allow anyone to try it.</p>
	<h3>The “Quick Hit” Package</h3>
	<p>The quick hit is a 3 month campaign that provides you with:</p>
	  <ul>
		<li>A DemoRocket account for up to 3 users</li>
		<li>Full access to the automated sales demo analytics reports</li>
		<li>Daily summary reports</li>
		<li>Immediate email notifications when interested prospects are identified</li>
	  </ul>
	  <p>Pricing for the quick hit starts at $1,500 per month*</p>
	<h3>The “Getting Serious” Package</h3>
	<p>Getting Serious is a 6 month campaign that provides you with:</p>
	  <ul>
		<li>A DemoRocket account for up to 5 users</li>
		<li>Full access to the automated sales demo analytics reports</li>
		<li>Daily summary reports</li>
		<li>Immediate email notifications when interested prospects are identified</li>
	  </ul>
	  <p>Pricing for getting serious starts at $1,000 per month.*</p>
	<h3>The Long Haul Package</h3>
	<p>The long haul is a 12 month commitment that provides you with:</p>
	<ul>
	  <li>A DemoRocket account with up to 10 users</li>
	  <li>The ability to run up to 5 campaigns simultaneously</li>
	  <li>Full access to the automated sales demo analytics reports</li>
	  <li>Daily summary reports</li>
	  <li>Immediate email notifications when interested prospects are identified</li>
	</ul>
	  <p>Pricing for the long haul starts at $900 per month*</p>
	<h3>Custom Package</h3>
	<p>
	  Why don’t you just tell us what you
	  want and we’ll figure something out
	  that works for you?</p>
	<p>
	  *Monthly plans don’t include the cost
	  of producing videos. We’re happy to
	  work with your current video library
	  or facilitate the production of high
	  quality videos at a discounted price.
	</p>
  </div>

</div>
