<div class="container analitics">
  <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  <%if(!data.length){%>
  <div class="noVideo">Please create demo to view analytic</div>
<%}else{%>
  <div class="haveVideo">

    <h2 class="nameOfCampaign"><%=data[0].name%></h2>
    <%if(data.length>1){%>
    <!-- start dropdown menu-->
    <div class="campaigns">
      <span class="customSelect">Select Campaign</span>
      <div class="campaign-container">
        <span>Campaigns</span>
        <ul class="<%=data.length<5?'lg':data.length<10?'md':'sm' %>">
          <%_.each(data, function(cmp, index){  %>
          <li data-id="<%=cmp._id%>" class="<%=index==0?'current':''%>"><%=cmp.name %></li>
          <%});%>
        </ul>
      </div>
      <!-- end dropdown menu-->
      <%};%>
    </div>
    <div id="date">
      From:&nbsp;
      <div id="startDate" class="dtPick"><input type="text"/><span class="icon"></span></div>
      &nbsp;&nbsp;&nbsp;To:&nbsp;
      <div id="endDate" class="dtPick"><input type="text"/><span class="icon"></span></div>
    </div>
    <div class="printPart">
      <h2>Site Views</h2>

      <div class="legend">
        <ul>
          <li class="invitedPr"><span></span>Invited Prospects</li>
          <li class="newPr"><span></span>New Prospects</li>
          <li class="totalPr"><span></span>Total Views</li>
          <li class="print"><span></span></li>
        </ul>
      </div>
      <svg id="siteVisits" width="1000" height="500"></svg>
    </div>
    <div class="printPart">
      <h2>Video Views</h2>
	  <div class="legend">
        <ul>
          <li class="print"><span></span></li>
        </ul>
      </div>

      <div class="clear">
      </div>
      <svg id="videoView" width="1000" height="500"></svg>

      <div class="info"><span class="watchedEnd"></span> of <span class="allVideo"></span> watched the entire
        Main
        Video
      </div>
      <div class="info"><span class="watchedSurvey"></span> of <span class="allVideo"></span> watched the
        additional videos
      </div>
    </div>
	<div class="printPart">
      <h2>Survey Results</h2>
      <div class="legend">
		<ul>
          <li class="very"><span></span>Very Interested</li>
          <li class="some"><span></span>Somewhat Interested</li>
          <li class="not"><span></span>Not Interested</li>
          <li class="print"><span></span></li>
		</ul>
      </div>

      <div class="clear">
      </div>
      <ul class="questionsPie">

      </ul>
	</div>
	<div class="clear">
	</div>
	<div class="printPart">
      <h2>File Downloads</h2>
	  <div class="legend">
		<ul>
          <li class="print"><span></span></li>
		</ul>
      </div>

      <div class="clear">
      </div>
      <svg id="docDownload" width="1000" height="500"></svg>
      <div class="info"><span class="countDownload"></span> of <span class="allVideo"></span> prospects downloaded
		documents
      </div>
	</div>
	<div class="printPart">
      <h2>Detailed Prospect Activity</h2>
	  <div class="legend">
		<ul>
		  <li class="print all"><span>Print All (for this domain)</span></li>
          <li class="print"><span></span></li>
		</ul>
      </div>

      <div class="clear">
      </div>
      <div class="haveActivity">
		<div class="customSelect">
          <div class="showList">
			<span class="current"></span>
			<span class="arrow"></span>
          </div>
          <ul>
          </ul>
		</div>
		<div id="prospectTable"></div>
		<div id="prospectActivity"></div>
      </div>
      <div class="noActivity">
		<h3 class="noVideo">You don't have any prospect activity</h3>
      </div>
	</div>
	<div class="printPart">
      <h2>"Contact Me" Submission</h2>
	  <div class="legend">
		<ul>
          <li class="print"><span></span></li>
		</ul>
      </div>

      <div class="clear">
      </div>
      <div id="contactMe"></div>
	</div>
  </div>
</div>
<%}%>
<div class="tooltip"></div>
</div>
