
<div class="login">
  <form action="/upload" enctype="multipart/form-data" method="post">
	<h2>STEP1: CHOOSE YOUR MAIN VIDEO</h2>
	<div class="left">
	  <h3>Please enter brief description:</h3>
	</div>
	<div class="right">
	  <span>Please enter brief description:</span>
	  <textarea name="desc"></textarea>
	</div>
	<div class="left">
	  <span>Upload video from computer:</span>
	  <input type="file" name="video"/>
	  <span>Or paste a link:</span>
	  <input type="text" name="video"/>
	</div>
    <h2>STEP2: CHOOSE YOUR MAIN VIDEO</h2>
	<div class="left">
	  <h3>Please enter brief description:</h3>
	</div>
	<div class="right">
	  <span>Please enter brief description:</span>
	  <textarea  name="question1"></textarea>
	</div>
	<div class="left">
	  <span>Upload video from computer:</span>
	  <input type="file" name="video1"/>
	  <span>Or paste a link:</span>
	  <input type="text" name="video1"/>


	  <input type="file" name="file1" multiple/>
	  <input type="text" name="countQuestion" value="1"/>
	</div>
	<input type="submit"/>
  </form>
</div>
