<div class="login">
  <div class="inner">
	<form action="/upload" enctype="multipart/form-data" method="post">
	  <input name="countQuestion" value="1" type="hidden"/>
		
	  <h2>STEP1: CHOOSE YOUR MAIN VIDEO</h2>
	  <div class="left">
		<span>Please enter brief description:</span><br/>
		<textarea name="desc"></textarea>
	  </div>
	  <div class="right">
		<span>Upload video from computer:</span>
		<input type="file" name="video"/><br/>
		<span>Or paste a link:</span>
		<input type="text" name="video"/>
	  </div>
      <div class="clear">
      </div>
      <h2>STEP2: CREATE YOUR SURVEY</h2>
	  <span>Potential leads will be asked to indicate their level of interest in a topic. Levels of interest include: Not Important, Somewhat Important and Very Important</span>
	  <div class="clear">
      </div>
	  <div class="left">
		<span>Please enter brief description:</span>
		<textarea  name="question1"></textarea>
	  </div>
	  <div class="right">
		<span>Upload video from computer:</span>
		<input type="file" name="video1"/><br/>
		<span>Or paste a link:</span>
		<input type="text" name="video1"/>
	  </div>
	  <div class="clear">
      </div>
	  <div class="left">
		<span>Upload related PDF’s (You can choose more than one file): </span>
		<input type="file" name="file1" multiple/>
	  </div>
	  <div class="right">
		<button>ADD QUESTION</button>
	  </div>
	  <div class="clear">
      </div>

      <h2>STEP 3: UPLOAD YOUR LOGO</h2>
	  <div class="clear">
      </div>
	  <div class="left">
		<span>Upload your logo from computer:</span><br/>
		<input type="file" name="logo"/><br/>
	  </div>
	  <div class="clear">
      </div>
      <h2>STEP 4: ENTER «CONTACT ME» INFO</h2>
	  <div class="clear">
      </div>
	  <span>Enter video vendor details:</span><br/>
	  <textarea  name="contact" class="contact"></textarea>
	  <div class="clear">
      </div>
	  <button>DECLINE</button><input type="submit" value="SAVE"/>
	</form>
  </div>

</div>
