<div class="videoElement">
  <div class="left">
	<span>Please enter brief description:</span>
	<textarea  name="question1" class="questionText"></textarea>
  </div>
  <div class="right">
	<span>Upload video from computer:</span>
	<div class="uploadContainer file">
	  <div class="left">
		<input type="text" placeholder="Drop file here" readonly="readonly"/>
	  </div>
	  <div class="right">
	  </div>
	  <input type="file" name="video1"/><br/>
	</div><br/>
	<span>Or paste a link:</span>
	<div class="uploadContainer link">
	  <div class="left">
		<input type="text" name="video1"/>
	  </div>
	  <div class="right">
	  </div>
	</div>
  </div>
  <div class="clear">
  </div>
  <div class="left">
	<span>Upload related PDF’s (You can choose more than one file): </span>
	<div class="uploadContainer file long">
	  <div class="left">
		<input type="text" placeholder="Or drop file here" readonly="readonly"/>
	  </div>
	  <div class="right">
	  </div>
	  <input type="file" name="file1" multiple/><br/>
	</div>
  </div>
  <div class="right">
	<span>&nbsp;</span><br/>
	<button class="question">ADD QUESTION</button>
  </div>
</div>
