<div class="container homeContainer">
  <div class="bg">
	<div class="dark">
	</div>
  </div>
  <div class="inner">
	<div class="homePage">
	  <h1>PERSONALIZE THE<br> VIDEO</h1>
	  <h1>DEMO EXPERIENCE<br> FOR YOUR</h1><br>
	  <h1>PRODUCTS AND SERVICES</h1>
	  <span>Affordably reach more prospects, understand their needs and learn more about what’s important to your customers.</span><br/>
	  <button class="blue showModal">WATCH DEMO</button><!--<button class="opacity">LEARN MORE</button>-->
	  <div class="clear">
	  </div>
	</div>
    <div class="signIn">
	  <h2>Sign In:</h2>
	  <form>
        <div class="ava">
		  <img src="i/profile.png" width="50" height="50"/>
        </div>
        <div class="username">
          <div class="inp">
			<input type="text" class="userName" placeholder="Username">
          </div>
          <div class="text">
            <div class="checkbox checked">
              <div class="circle">
              </div>
            </div>
			Keep me logged in
          </div>
        </div>
        <div class="pass">
          <div class="inp">
			<input type="password" class="password" placeholder="Password">
          </div>
          <div class="text">
			Don’t have an account? <a href="#/registration" class="registration">Registration</a>
			<a href="#/forgot" class="registration forgot">Forgot password?</a>
		  </div>
        </div>
        <div class="lock">
        </div>
	  </form>
    </div>
	
  </div>
</div>
<div class="whatIs">
  <div class="inner">
	<h2>HOW DO YOU PERSONALIZE A DEMO?</h2>
    <div class="line">
    </div>
    <div class="left">
	  <h4>START WITH THE BASICS</h4>
	  <span>Work with us to develop an affordable video that describes your product or service. Include the points you feel will be important to your prospects.</span>
	  <h4>GATHER FEEDBACK</h4>
	  <span>The best salespeople are great listeners. DemoRocket gets interactive with your prospects asking them what services or features they’re interested in hearing more about.</span>
	  <h4>DIG IN</h4>
	  <span>Armed with an understanding of what’s important, DemoRocket delivers more detailed information in the form of specific videos and downloadable PDFs.</span>
	  <h4>ANALYZE</h4>
	  <span>DemoRocket’s analytics allow you to see what’s working in real time to help you reach the prospect while you’re top of mind and easily make changes to your message based on what you’ve learned about them.</span>

        <div class="line">
        </div>
        <div class="left advertising">
            <div class="arrow left">
                <span class="">previous</span>
            </div>
            <div class="arrow right">
                <span class="">next</span>
            </div>

	  <br/>
	  <button class="blue showMain">WATCH DEMO</button>
	  <img src="/i/ipad.png"/>
      <div class="clear">
      </div>
    </div>
  </div>
</div>
<div class="whatSay">
  <div class="inner">
	<h2>THOUGHTS ON DEMOROCKET</h2>
      <hr class="contactLine"/>
    <div class="line">
    </div>
    <div class="messages">
      <div class="item selected">
		<em>"I wasn’t sure our message was being understood. For a small budget, DemoRocket helped us reach our market and learn which features made sense to our customers."</em>~<br/><br/>
		<span><span class="blue">Peter @ Oris4.com</span></span>
      </div>
	  <div class="item">
		<em>"DemoRocket is the champion of the little guy. It gives you the chance to punch above your weight, learn what matters and make changes to have greater impact."</em>~<br/><br/>
		<span><span class="blue">Jeremy, Product Manager</span></span>
      </div>
	</div>

	<div class="arrows">
      <div class="arrow-left">
      </div>
      <div class="arrow-right">
      </div>
	</div>
  </div>
</div>
