<div class="container homeContainer">
  <div class="bg">
	<div class="dark">
	</div>
  </div>
  <div class="inner">
	<div class="homePage">
	  <h1>AUTOMATE CUSTOM</h1>
	  <h1>PRODUCT DEMOS TO</h1>
	  <h1>ACCELERATE SALES</h1>
	  <span>Cut sales cycles and increase close rates, all with a new brand of analytics.</span><br/>
	  <button class="blue showModal">WATCH DEMO</button><button class="opacity">LEARN MORE</button>
	  <div class="clear">
	  </div>
	</div>
    <div class="signIn">
	  <h2>Sign In:</h2>
	  <form>
        <div class="ava">
		  <img src="i/profile.png" width="50" height="50"/>
        </div>
        <div class="username">
          <div class="inp">
			<input type="text" class="userName" placeholder="Username">
          </div>
          <div class="text">
            <div class="checkbox checked">
              <div class="circle">
              </div>
            </div>
			Keep me logged in
          </div>
        </div>
        <div class="pass">
          <div class="inp">
			<input type="password" class="password" placeholder="Password">
          </div>
          <div class="text">
			Don’t have an account? <a href="#/registration" class="registration">Registration</a>
		  </div>
        </div>
        <div class="lock">
        </div>
	  </form>
    </div>
	
  </div>
</div>
<div class="whatIs">
  <div class="inner">
	<h2>WHAT IS DEMO AUTOMATION?</h2>
    <div class="line">
    </div>
    <div class="left">
	  <h4>AUTOMATED CUSTOM DEMO</h4>
	  <span>Delever a custom video demo, personalized in real-time, so each prospect automatically learns about your solution in the most relevant way. </span>

	  <h4>DEMOLYTICS</h4>
	  <span>Discover who's involved and what's important to each member of the buying committee, before you talk.</span>

	  <h4>SMART LEADS</h4>
	  <span>Convert leads that are educated, qualified, and ready to talk specifics.</span>
	  <br/>
	  <button class="blue">EXPERIENCE WOWDEMO</button>
	  <img src="/i/ipad.png"/>
      <div class="clear">
      </div>
    </div>
  </div>
</div>
<div class="whatSay">
  <div class="inner">
	<h2>THIS IS GREAT</h2>
    <div class="line">
    </div>
	<em>"This is great."</em>-<br/><br/>
	<span><span class="blue">Peter</span></span>
	<div class="arrows">
      <div class="arrow-left">
      </div>
      <div class="arrow-right">
      </div>
	</div>
  </div>
</div>
<footer>
  <div class="inner">
    <div>
	  <h2 class="logo"><img src="i/logo-dark.png" width="230"/></h2>
	  86 Ridgepark Lane<br/>
		Halifax, NS<br/>
		B3N 3K9<br/>
		<a href="tel:+9024890901">(902) 489-0901</a><br/>
    </div>
	<div>
	  <h3>MORE LINKS</h3>
	  <ul>
		<li><a href="javascript:;">Home</a></li>
		<li><a href="javascript:;">Watch Demo</a></li>
		<li><a href="javascript:;">About Us</a></li>
		<li><a href="javascript:;">Contact</a></li>
		<li><a href="javascript:;">Blog</a></li>
		<li><a href="javascript:;">Login</a></li>
		<li><a href="javascript:;">Partners</a></li>
	  </ul>
	</div>
	<div>
	  <h3>DON’T DO DEMOS?</h3>
	  So, you made it to the bottom of our long home page, and you're still not convinced that demo automation is right for you. What if all of your repetitive sales and marketing conversations were automated, and you could measure them? It's powerful - chat with us to explore applications in your business.
	</div>
  </div>
  <div class="bottom">
	© Copyright DemoRocket 2015
  </div>
</footer>
