<div class="container">
  <div class="inner">
	<div class="homePage">
	  <h1>AUTOMATE CUSTOM</h1>
	  <h1>PRODUCT DEMOS TO</h1>
	  <h1>ACCELERATE SALES</h1>
	  <span>Cut sales cycles and increase close rates, all with a new brand of analytics.</span><br/>
	  <button class="blue showModal">WATCH DEMO</button><button class="opacity">LEARN MORE</button>
	  <div class="clear">
	  </div>
	  <a href="https://account.mooloop.com/oauth/authorize?response_type=code&client_id=FcDOCBsnZ2TtKbHTGULY&redirect_uri=http://google.com/redirect&scope=jumplead.personal">zscsdascas</a>
	</div>
	
  </div>
</div>
