<div class="container homeContainer">
  <div class="inner">
	<div class="homePage">
	  <h1>AUTOMATE CUSTOM</h1>
	  <h1>PRODUCT DEMOS TO</h1>
	  <h1>ACCELERATE SALES</h1>
	  <span>Cut sales cycles and increase close rates, all with a new brand of analytics.</span><br/>
	  <button class="blue showModal">WATCH DEMO</button><button class="opacity">LEARN MORE</button>
	  <div class="clear">
	  </div>
	  <h2>WHAT IS DEMO AUTOMATION?</h2>
      <div class="left">
		<h4>AUTOMATED CUSTOM DEMO</h4>
		<span>Delever a custom video demo, personalized in real-time, so each prospect automatically learns about your solution in the most relevant way. </span>

		<h4>DEMOLYTICS</h4>
		<span>Discover who's involved and what's important to each member of the buying committee, before you talk.</span>

		<h4>AUTOMATED CUSTOM DEMO</h4>
		<span>Delever a custom video demo, personalized in real-time, so each prospect automatically learns about your solution in the most relevant way. </span>

      </div>
      <div class="right">
      </div>
	</div>
	
  </div>
</div>
