<div class="register">
  <h3>TO CONTINUE, PLEASE TELL US A LITTLE ABOUT YOU:</h3>
  <div class="left">
	<div class="required"><input id="fname" type="text" placeholder="First Name"></div>
	<div class="required"><input id="lname" type="text" placeholder="Last Name"></div>
	<div class="required"><input id="email" type="text" placeholder="Email"></div>
	<div class="required"><input id="confirmEmail" type="text" placeholder="Confirm Email"></div>
	<div class="required"><input id="phone" type="text" placeholder="Phone"></div>
  </div>
  <div class="right">
	<div class="required"><input id="organization" type="text" placeholder="Organization"></div>
	<div class="required"><input id="title" type="text" placeholder="Title"></div>
	<textarea id="comments" placeholder="Comments"></textarea>
  </div>
  <div class="clear">
  </div>
  <button class="continue">Continue</button>
</div>
