<div class="register">
  <h3>TO CONTINUE, PLEASE TELL US A LITTLE ABOUT YOU:</h3>
  <div class="left">
	<input type="text" placeholder="First Name">
	<input type="text" placeholder="Last Name">
	<input type="text" placeholder="Email Name">
	<input type="text" placeholder="Confirm Email">
	<input type="text" placeholder="Phone">
  </div>
  <div class="right">
	<input type="text" placeholder="Organization">
	<input type="text" placeholder="Title">
	<textarea placeholder="Comments"></textarea>
  </div>
  <div class="clear">
  </div>
  <button>Continue</button>
</div>
