<div class="">
    <div class="videoConatiner">
        <video controls="true" width="716" height="404" class="surveyVideo" src="<%= videoList[0].videoUri %>"
               autoplay="true" type="video/mp4">
        </video>
        <div class="hoverList">
            <span></span>
        </div>
        <ul class="listVideo custom-scroll">
            <%_.forEach(videoList,function(video, index){%>
            <li
            <%if (index==0){%>class="current"<%}%> data-id="<%=index%>">
            <video width="90" height="50" class="mainVideo" src="<%= video.videoUri %>" preload="metadata"
                   type="video/mp4">
            </video>
            <div class="videoTitle<%if (index==0){%> current<%}%>" data-id="<%=index%>">
                <div class="text marquee"><span><%= video.question %></span></div>
            </div>
            </li>
            <%})%>
        </ul>
    </div>
    <div class="pdfList">
        <%if(videoList[0].pdfUri&&videoList[0].pdfUri.length){%>
        <h3>Related files:</h3>
        <ul >
            <%_.forEach(videoList[0].pdfUri,function(url){%>
            <li>
                <a href="<%=url%>" target="_blank" class="pdf"><%=decodeURIComponent(url.split("\\").pop().split("/").pop())%></a>

                <div class="preview">
                    <div class="arrow">
                    </div>
                    <img height="110" width="80" src="<%=url.replace('.pdf','.png')%>"
                         alt="<%=decodeURIComponent(url.split('\\').pop().split('/').pop())%>"/>
                </div>
            </li>
            <%})%>
        </ul>
        <%}%>
    </div>
</div>
