<div class="register">
  <h3>TO CONTINUE, PLEASE TELL US A LITTLE ABOUT YOU:</h3>
  <div class="left">
	<input id="fname" type="text" placeholder="First Name">
	<input id="lname" type="text" placeholder="Last Name">
	<input id="email" type="text" placeholder="Email Name">
	<input id="confirmEmail" type="text" placeholder="Confirm Email">
	<input id="phone" type="text" placeholder="Phone">
  </div>
  <div class="right">
	<input id="organization" type="text" placeholder="Organization">
	<input id="title" type="text" placeholder="Title">
	<textarea id="comments" placeholder="Comments"></textarea>
  </div>
  <div class="clear">
  </div>
  <button class="continue">Continue</button>
</div>
