<div class="videoWatch">
  <div class="left">
    <div class="videoSection">
	  <video controls="true" width="716" height="404" autoplay="true" class="mainVideo">
		<source src="<%= content.mainVideoUri %>" type="video/mp4" />
	  </video>
    </div>
    <div class="questionSection">
	  <h2>Choose what is most important to you to personalize your demo:</h2>
	  <table cellspacing="0" cellpadding="0">
		<tr>
		  <th>Title</th>
		  <th>Not<br/>important</th>
		  <th>Somewhat<br/>important</th>
		  <th>Very<br/>important</th>
		</tr>
	  <%_.forEach(content.survey,function(item){%>
		<tr data-question="<%=item.question%>">
		  <td><%=item.question%></td>
		  <td><div class="checkbox" data-item="not"></div></td>
		  <td><div class="checkbox someImp" data-item="some"></div></td>
		  <td><div class="checkbox veryImp" data-item="very"></div></td>
		</tr>
	  <%})%>
	  </table>

	  <button class="showSurvay">CONTINUE</button>
    </div>
	<div class="relatedVideo">

    </div>
  </div>
  <div class="right">
	<img src="<%= content.logoUri %>" height="80" class="logo"/><br/>
	<div class="social" >
		<span class="fb-share-button fb" data-href="<%=host%>/share?contentId=<%=videoId%>&page=<%=page%>&prospectId=<%=prospectId%>" data-layout="icon"></span>
		<a href="https://twitter.com/share?url=<%= encodeURIComponent(host+ '/campaign/'+videoId+'/'+videoId) %>&text=DemoRocket: <%= encodeURIComponent(content.mainVideoDescription) %>" target="_blank"><span class="tw"></span></a>
		<a href="https://plus.google.com/share?url=<%= encodeURIComponent(host+'/share?contentId='+videoId+'&page='+page+'&prospectId='+prospectId) %>" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span  class="gp"></span></a>
		<span class="in"> </span>
	</div>

	  <br/><br/><br/>

	<span>OR CALL US: <%= content.phone %></span>
	<button class="contactMe">CONTACT ME</button>
  </div>
  <div class="clear">
  </div>
</div>
