<div class="contactMe">
    <span><h3> New user want to register !</h3>
       <p> <b>User Data:</b> </p>
        <span><img src="<%=process.env.WEB_HOST+'/image/'+ _id.toString() %>" width="100" height="120"/><br/>
        <!--<span><img src="http://www.gcsit.com/images/slider/slider-businessman-dark-suit.png" width="100" height="120"/><br/>-->
            <strong><%=firstName%> <%=lastName%></strong></span>
           <ul>
               <!--<li>Name: <b><%=firstName+ ' ' + lastName %></b></li>-->
               <li>Email: <b><%=email %></b></li>
               <li>Organization: <%=organization %></li>
               <li>Phone: <%=phone %></li>
           </ul><br/>
If you want confirm this user press the link below: <br/>
        <a href="<%=process.env.WEB_HOST+'/admin/confirm?token='+ confirmToken %>">Press to Confirm</a>
        <br/><br/><br/>
</span>
    <footer>
        Copyright DemoRocket 2015
    </footer>
</div>