<div class="info">
    <span>
        <h1>Information for <%=companyName %></h1>
    </span>
        <h2>New activity on your account </h2>
        <p>
            <ul>
        <li>Name: <%=name %></li>
        <li>Email: <%=email %></li>
    </ul>
        </p>

        <h3>Video activity</h3>
    <% if (videos.length){ %>
        <table cellspacing="0" border="1" cellpadding="0">
            <tr>
            <th>
                <b>Name of video</b>
            </th>
            <th>
                <b>Is watched to the end</b>
            </th>
            <th>
                <b>How long watched</b>
            </th>
            </tr>
            <% _.each(videos, function(item){%>
            <tr>
                <td>
                    <a href="<%= process.env.WEB_HOST +'/'+ item.video%>"><%=item.video.split('/').pop() %></a>
                </td>
                <td>
                    <%=item.end?'Yes':'No' %>
                </td>
                <td>

                    <% var all = item.stopTime; %>
                    <% var m = Math.floor(all/60); %>
                    <% var s = all-m*60; %>
                    <%= m+ ':' + (s<10?'0'+s:s)%>

                </td>
            </tr>
            <% });%>
        </table>
    <% } else { %>
    <h5 >Contact doesn't watched any video</h5>
    <% } %>
    <br/>

        <h3>Question activity:</h3>
    <% if (questions.length){ %>
        <table cellspacing="0" border="1" cellpadding="0">
            <tr>
                <th>
                    <b>Question</b>
                </th>
                <th>
                    <b>Rate</b>
                </th>
            </tr>
            <% _.each(questions, function(item){%>
            <tr>
                <td>
                    <%=item.question %>
                </td>
                <td>
                    <%= item.item%>

                </td>
            </tr>
            <% });%>
        </table>
    <% } else { %>
    <h5 >Contact doesn't answered any question</h5>
    <% } %>
    <br/>

         <h3>Download document: </h3>
    <% if (documents.length){ %>
        <ul>
            <% _.each(documents, function(item){%>
            <li> <a href="<%= process.env.WEB_HOST +'/'+ item.document%>"><%=item.document.split('/').pop() %></a></li>
            <% });%>
        </ul>
    <% } else { %>
    <h5 >Contact doesn't downloaded any documents</h5>
    <% } %>
    <br/>
    <hr/>
         <footer>
             Copyright DemoRocket 2015
         </footer>
</div>