<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Demystifying Email Design</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
	<div class="info" style="color:black">
      <h1 style="text-transform:uppercase;color:#656565;font-weight:normal;font-size:24px;">Weekly analytic information for <%=companyName %></h1>

      <% if (visits.total>0){ %>
      <h2 style="color:#26c2ff;
	  font-weight:normal;
	  font-size:24px;">New activity on your account </h2>

      <p>

        You have <%=visits.total %> prospects visit your site :
		<ul style="list-style:none;margin:0;padding:0; margin-left:18px;font-size:17px;">
		<li><%=visits.new %> new prospects</li>
		<li><%=visits.old %> invited prospects</li>
		</ul>

      </p>
		<table><tr><td><img src="http://134.249.164.53:8838/i/eye.png" alt="img" style="margin-left:5px;"/></td><td>
			  <h3 style="  font-weight:normal;
						 font-size:17px;
						 background-repeat: no-repeat;
						 padding-left: 0px;
						 background-position: 5px 50%;" class="videoAct">Video activity</h3></td></tr></table>
      <table cellspacing="0" border="1" cellpadding="0">
        <tr>
          <th>
            <b>Name of video</b>
          </th>
          <th>
            <b>Views</b>
          </th>
        </tr>
        <tr>
          <td>
            <a href="<%= process.env.WEB_HOST +'/'+ videos.mainVideo.name%>"> Main video</a>
          </td>
          <td>
            <%=videos.mainVideo.count %>
          </td>
        </tr>
        <% _.each(videos.survey, function(item){%>
        <tr>
          <td>
            <a href="<%= process.env.WEB_HOST +'/'+ item.name%>"><%=item.name.split('/').pop() %></a>
          </td>
          <td>
            <%=item.count %>
          </td>
        </tr>
        <% });%>
      </table>
      <br/>
        <%=videos.watchedEnd %> of <%=visits.total %> watched the entire Main Video <br/>
        <%=videos.watchedSurvey %> of <%=visits.total %> watched the additional videos

      <br/>

      <table><tr><td><img src="http://134.249.164.53:8838/i/message.png" alt="img" style="margin-left:5px;"/></td><td><h3 style="  font-weight:normal;
	  font-size:17px;
      background-repeat: no-repeat;
      padding-left: 0px;
      background-position: 5px 50%;" class="questionAct">Question activity:</h3></td></tr></table>
      <table cellspacing="0" border="1" cellpadding="0">
        <tr>
          <th rowspan="2">
            <b>Question</b>
          </th>
          <th colspan="3">
            <b>Rate</b>
          </th>
        </tr>
        <tr>
          <th>Not interest</th>
          <th>Somewhat interest</th>
          <th>Very interest</th>
        </tr>
        <% _.each(questions, function(item){%>
        <tr>
          <td>
            <%=item.name %>
          </td>
          <td>
            <%if(!item.not&&!item.some&&!item.very){ %>
            <%var sum = item.not+item.some+item.very%>

            <%} else { var sum = 1} %>

            <%=Math.floor(item.not/sum*100)%>

          </td>
          <td>
            <%= Math.floor(item.some/sum*100)%>
          </td>
          <td>
            <%=100-(Math.floor(item.not/sum*100)+ Math.floor(item.some/sum*100))%>
          </td>
        </tr>
        <% });%>
      </table>
      <br/>
     <table><tr><td><img src="http://134.249.164.53:8838/i/download.png" alt="img" style="margin-left:5px;"/></td><td><h3  style="  
																												   font-weight:normal;
	  font-size:17px;
      background-repeat: no-repeat;
      padding-left: 0px;
      background-position: 5px 50%;" class="downloadAct">Download document: </h3>
	  </td></tr></table>
 
      <table cellspacing="0" border="1" cellpadding="0">
        <tr>
          <th>
            <b>Name of document</b>
          </th>
          <th>
            <b>Downloads</b>
          </th>
        </tr>
        <% _.each(documents.docs, function(item){%>
        <tr>
          <td>
            <a href="<%= process.env.WEB_HOST +'/'+ item.name%>"><%=item.name.split('/').pop() %></a>
          </td>
          <td>
            <%=item.count %>
          </td>
        </tr>
        <% });%>
      </table>
      <br/>
      <%=documents.download %> of <%=visits.total %> prospects downloaded documents
      <br/>
      <% } else { %>
      You doesn't have any prospect activity
      <% } %>
      <hr/>
      <footer>
        Copyright DemoRocket 2015
      </footer>
	</div>
  </body>
</html>

