<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="info" style="color:black">
    <h1 style="text-transform:uppercase;color:#656565;font-weight:normal;font-size:24px;">Weekly analytic information
        for <%=companyName %></h1>

    <% if (visits.total>0){ %>
    <h2 style="color:#26c2ff;
	  font-weight:normal;
	  font-size:24px;">New activity on your account </h2>

    <p>

        You have <%=visits.total %> prospects visit your site :
    <ul style="list-style:none;margin:0;padding:0; margin-left:18px;font-size:17px;">
        <li><%=visits.new %> new prospects</li>
        <li><%=visits.old %> invited prospects</li>
    </ul>

    </p>
    <table>
        <tr>
            <td><img src="http://134.249.164.53:8838/i/eye.png" alt="img" style="margin-left:5px;"/></td>
            <td>
                <h3 style="  font-weight:normal;
						 font-size:17px;
						 background-repeat: no-repeat;
						 padding-left: 0px;
						 background-position: 5px 50%;" class="videoAct">Video activity</h3></td>
        </tr>
    </table>
    <table cellspacing="0" border="0" cellpadding="0" style="margin-left:30px;font-size:13px;">
        <tr>
            <th style="background-color:#fbfbfb;border:1px solid #efefef;text-align:left;">
                <span style="padding:0 15px;line-height:30px"><b>Name of video</b></span>
            </th>
            <th style="background-color:#fbfbfb;border:1px solid #efefef;text-align:left;">
                <span style="padding:0 15px;line-height:30px"><b>Views</b></span>
            </th>
        </tr>
        <tr>
            <td style="border:1px solid #efefef;">
                <span style="padding:0 15px;line-height:30px"><a
                        href="<%= process.env.WEB_HOST +'/'+ videos.mainVideo.name%>"> Main video</a></span>
            </td style="border: 1px solid #efefef
            ;">
            <td style="border:1px solid #efefef;">
                <span style="padding:0 15px;line-height:30px"><%=videos.mainVideo.count %></span>
            </td>
        </tr>
        <% _.each(videos.survey, function(item){%>
        <tr>
            <td style="border:1px solid #efefef;">
                <span style="padding:0 15px;line-height:30px"><a href="<%= process.env.WEB_HOST +'/'+ item.name%>"><%=item.name.split('/').pop()
                    %></a></span>
            </td>
            <td style="border:1px solid #efefef;">
                <span style="padding:0 15px;line-height:30px"><%=item.count %></span>
            </td>
        </tr>
        <% });%>
    </table>
    <br/>
    <%=videos.watchedEnd %> of <%=visits.total %> watched the entire Main Video <br/>
    <%=videos.watchedSurvey %> of <%=visits.total %> watched the additional videos

    <br/>

    <table>
        <tr>
            <td><img src="http://134.249.164.53:8838/i/message.png" alt="img" style="margin-left:5px;"/></td>
            <td><h3 style="  font-weight:normal;
	  font-size:17px;
      background-repeat: no-repeat;
      padding-left: 0px;
      background-position: 5px 50%;" class="questionAct">Question activity:</h3></td>
        </tr>
    </table>
    <table cellspacing="0" border="0" cellpadding="0" style="margin-left:30px;font-size:13px;">
        <tr>
            <th rowspan="2" style="background-color:#fbfbfb;border:1px solid #efefef;text-align:left;">
                <span style="padding:5px 15px;line-height:30px"><b>Question</b></span>
            </th>
            <th colspan="3" style="background-color:#fbfbfb;border:1px solid #efefef;text-align:center;">
                <span style="padding:5px 15px;line-height:30px"><b>Rate</b></span>
            </th>
        </tr>
        <tr>
            <th style="background-color:#fbfbfb;border:1px solid #efefef;text-align:left;"><span
                    style="padding:5px 15px;line-height:30px">Not interest</span></th>
            <th style="background-color:#fbfbfb;border:1px solid #efefef;text-align:left;"><span
                    style="padding:5px 15px;line-height:30px">Somewhat interest</span></th>
            <th style="background-color:#fbfbfb;border:1px solid #efefef;text-align:left;"><span
                    style="padding:5px 15px;line-height:30px">Very interest</span></th>
        </tr>
        <% _.each(questions, function(item){%>
        <tr>
            <td style="border:1px solid #efefef;">
                <span style="padding:0 15px;line-height:30px"><%=item.name %></span>
            </td>
            <td style="border:1px solid #efefef;">
<span style="padding:0 15px;line-height:30px"><%if(!item.not&&!item.some&&!item.very){ %>
            <% var sum = 1%>

            <%} else {var sum = item.not+item.some+item.very} %>

            <%=Math.floor(item.not/sum*100)%>
			</span>

            </td>
            <td style="border:1px solid #efefef;">
                <span style="padding:0 15px;line-height:30px"><%= Math.floor(item.some/sum*100)%></span>
            </td>
            <td style="border:1px solid #efefef;">
                <span style="padding:0 15px;line-height:30px"><%=100-(Math.floor(item.not/sum*100)+ Math.floor(item.some/sum*100))%></span>
            </td>
        </tr>
        <% });%>
    </table>
    <br/>
    <table>
        <tr>
            <td><img src="http://134.249.164.53:8838/i/download.png" alt="img" style="margin-left:5px;"/></td>
            <td><h3 style="
																												   font-weight:normal;
	  font-size:17px;
      background-repeat: no-repeat;
      padding-left: 0px;
      background-position: 5px 50%;" class="downloadAct">Download document: </h3>
            </td>
        </tr>
    </table>

    <table cellspacing="0" border="0" cellpadding="0" style="margin-left:30px;font-size:13px;">
        <tr>
            <th style="background-color:#fbfbfb;border:1px solid #efefef;text-align:left;">
                <span style="padding:0 15px;line-height:30px"><b>Name of document</b></span>
            </th>
            <th style="background-color:#fbfbfb;border:1px solid #efefef;text-align:left;">
                <span style="padding:0 15px;line-height:30px"><b>Downloads</b></span>
            </th>
        </tr>
        <% _.each(documents.docs, function(item){%>
        <tr>
            <td style="border:1px solid #efefef;">
                <span style="padding:0 15px;line-height:30px"><a href="<%= process.env.WEB_HOST +'/'+ item.name%>"><%=item.name.split('/').pop()
                    %></a></span>
            </td>
            <td style="border:1px solid #efefef;">
                <span style="padding:0 15px;line-height:30px"><%=item.count %></span>
            </td>
        </tr>
        <% });%>
    </table>
    <br/>
    <%=documents.download %> of <%=visits.total %> prospects downloaded documents
    <br/>
    <% if (uninterested.length){ %>
    <h2 style="font-weight:normal;font-size:17px;">Uninterested contacts (who hasn't  watched entire main video):</h2>
    <ul style="list-style:none;margin:0;padding:0;margin-left:18px;font-size:17px">
    <% _.each(uninterested, function(item){%>
        <li><%=item.name %></li>
        <% });%>
    </ul>
    <% }%>
    <% } else { %>
    You doesn't have any prospect activity
    <% } %>
    <br/>
    <hr/>
    <footer>
        Copyright DemoRocket 2015
    </footer>
</div>
</body>
</html>

