<h3>PENDING USER ACCOUNTS</h3>

<div class="tableBt">
    <a href="javascript:;" class="saveBtn">
        <span>Save</span>
    </a>
    <a href="javascript:;" class="cancelBtn">
        <span>Cancel</span>
    </a>
    <a href="javascript:;" class="editBtn">
        <span>Edit</span>
    </a>
    <a href="javascript:;" class="disable">
        <span class="dis">Disable</span>
        <span class="enb">Enable</span>
    </a>
    <a href="javascript:;" class="delete">
        <span>Delete</span>
    </a>
</div>


<table class="customTable" cellspacing="0" cellpadding="0">
    <tr>
        <th><span>Name</span></th>
        <th><span>Created</span></th>
    </tr>
    <%_.each(users,function(user, index){%>
    <tr data-id="<%=user._id%>" class="<%=index==current?'current':''%>">
        <td><span><%=user.firstName %></span></td>
        <td><span><%=user.lastName %></span></td>
        <td><span><%=user.userName %></span></td>
        <td><span><%=user.email %></span></td>
        <td><span class="status"><%=user.isDisabled?'Disabled':'Enabled' %></span></td>
        <td>
            <span class="view role"><%=user.role==2?'Administrator':'Viewer'%></span>
            <span class="edit role">
            <div class="customSelect">
                <div class="showList">
                    <span class="current"><%=user.role==2?'Administrator':'Viewer' %></span>
                    <span class="arrow"></span>
                </div>
                <ul>
                    <li>Administrator</li>
                    <li>Viewer</li>
                </ul>
            </div>
                </span>
        </td>
    </tr>
    <%})%>
</table>
