<footer>
  <div class="inner">
    <div>
	  <h2 class="logo"><img src="i/logo-dark.png" width="230"/></h2>
	  86 Ridgepark Lane<br/>
		Halifax, NS<br/>
		B3N 3K9<br/>
		<a href="tel:+9024890901">(902) 489-0901</a><br/>
    </div>
	<div>
	  <h3>MORE LINKS</h3>
	  <ul>
		<li><a href="#/home" class="toTop">Home</a></li>
		<li><a href="javascript:;" class="showModal">Watch Demo</a></li>
		<li><a href="#/aboutUs">About Us</a></li>
		<li><a href="#/contact">Contact</a></li>
		<li><a href="javascript:;" class="login">Login</a></li>
		<li><a href="#/pricing">Pricing</a></li>
	  </ul>
	</div>
	<div>
	  <h3>WANT TO HEAR MORE?</h3>
	  Add a Contact Us area that sends name, company, phone, email and notes to us.
	</div>
  </div>
  <div class="bottom">
	© Copyright DemoRocket 2015
  </div>
</footer>
