<footer>
  <div class="inner">
    <div>
	  <h2 class="logo"><img src="i/logo-dark.png" width="230"/></h2>
	  86 Ridgepark Lane<br/>
		Halifax, NS<br/>
		B3N 3K9<br/>
		<a href="tel:+9024890901">(902) 489-0901</a><br/>
    </div>
	<div>
	  <h3>LINKS</h3>
	  <ul>
		<li><a href="#/home" class="toTop">Home</a></li>
		<li><a href="#/watchVideo" class="showModal">Watch Demo</a></li>
		<li><a href="#/aboutUs">About Us</a></li>
		<li><a href="#/contact">Contact</a></li>
		<li><a href="javascript:;" class="login">Login</a></li>
		<li><a href="#/pricing" >Pricing</a></li>
	  </ul>
	</div>
	<div>
	  <h3>WANT TO HEAR MORE?</h3>
		<!--http://demo.com:8838/#/contact-->
		<button class="opacity contactUs">CONTACT</button>
	</div>
  </div>
  <div class="bottom">
	© Copyright DemoRocket 2015
  </div>
</footer>
<div class="mediaFooter">
   <div class="mediaFooterInner">
   </div>
    <div class="contactInner">
        <h2>CONTACT</h2>
        <hr class="contactLine">
         <p class="address">
         86 Ridgepark Lane<br/>
		Halifax, NS<br/>
		B3N 3K9<br/>
    </p>
    <p class="mail">
        peter@demorocket.biz
    </p>
        <button class="opacity contactUs">CONTACT US</button>
        <ul class="social">
            <li class="facebook"><a href="#"></a></li>
            <li class="twitter"><a href="#"></a></li>
            <li class="google"><a href="#"></a></li>
        </ul>
    </div>
</div>
<!--
<div class="callUs">
    <p>Call Us: <a href="tel:+9024890901">(902) 489-0901</a></p>
</div>
-->
