<div class="bar_container">
    <h2>GENERATING NEW VIDEO</h2><br/>
    <h4>Please, wait until all the data will be uploaded</h4>
    <div id="main_container">

            <div id="pbar" class="progress-pie-chart" data-percent="0">
                <div class="ppc-progress">
                    <div class="ppc-progress-fill"></div>
                </div>
                <div class="ppc-percents">
                    <div class="pcc-percents-wrapper">
                        <span>%</span>
                    </div>
                </div>
            </div>
        <div class="bar-border">
        </div>
        <progress style="display: none" id="progress_bar" value="0" max="100"></progress>
    </div>
</div>