<div class="contactPage">
  <div class="inner">
	<h2>CONTACT</h2>
	 <div class="data">
      <div class="required">
		<input type="text" class="firstName" placeholder="First name"/>
	  </div>
	  <div class="required">
		<input type="text" class="lastName" placeholder="Last name"/>
	  </div><br/>
	  <input type="text" placeholder="Company" class="company"/>
	  <input type="text" placeholder="Title" class="title"/><br/>
	  <div class="required">
		<input class="email" type="text" placeholder="Email"/>
	  </div>
	  <input type="text" placeholder="Phone number" class="phone"/>
	  <br/>
      <textarea placeholder="Notes"></textarea>
	 </div>
    </div>
    <div class="buttons">
	  <button class="cancel">CANCEL</button><button class="registerBtn">SEND</button>
      <div class="clear">
      </div>
    </div>
  </div>

</div>
