<nav class="navBar topMenu">
  <div class="inner">
    <div id="logo">WOW<span>DEMO</span></div>

    <ul>
      <li><a href="javascript:;" class="active showModal">WATCH DEMO</a></li>
	  <li><a href="https://account.mooloop.com/oauth/authorize?response_type=code&client_id=FcDOCBsnZ2TtKbHTGULY&redirect_uri=http://demo.com:8877/redirect&scope=jumplead.contacts">PRICING</a></li>
	  <li><a href="javascript:;">RESOURSES</a></li>
	  <li><a href="javascript:;">COMPANY</a></li>
	  <li><a href="/#login">LOGIN</a></li>
    </ul>
  </div>

</nav>
