<div class="registration">
  <div class="inner">
	<h3>We’ve been waiting for you!</h3>
	<span>To start using DemoRocket tell us a few words about yourself</span><br/>
	<img src="i/profile.png" width="215" height="215"/>
    <div class="data">
	  <input type="text" class="firstName" placeholder="First name"/>	  <input type="text" class="lastName" placeholder="Last name"/><br>
	  <input type="text" placeholder="Organization" class="big organization"/><br/>
	  <input type="text" placeholder="User name" class="userName"/>	  <input class="email" type="text" placeholder="Email"/><br>
	  <input type="password" placeholder="Password" id="pass" class="pass"/>	  <input type="password" placeholder="Confirm password"/><br>
        <div id="progressBar"></div>
    </div>
    <div class="buttons">
	  <button class="cancel">CANCEL</button><button class="registerBtn">REGISTER</button>
      <div class="clear">
      </div>
    </div>
  </div>

</div>
