.mp{
	margin: 0;
	padding: 0;
}
.lh(@h){
	height:@h;
	line-height:@h;
}
.clear{
	clear:both;
}
html,body{
	.mp;
}

.topMenu{
	height:120px;
	background-color:rgba(0,0,0,0.2);
	.inner{
		width:1070px;
		margin:0 auto;
		#logo{
			.lh(120px);
			float:left;
			font-size:30px;
			color:white;
			span{
				color:#44cbff;
			}
		}
		ul{
			.mp;
			float:right;
			list-style:none;
			li{
				float:left;
				a{
					text-decoration:none;
					line-height:120px;
					padding:10px 20px;
					color:white;
					&.active{
						background-color:rgba(0,0,0,0.2);
						border-radius:5px;
					}
				}
			}
		}
	}
}
.container{
		background-color:silver;
		
	.inner{
		width:1070px;
		margin:0 auto;
	}
}
.homePage{
	.blue{
		.lh(50px);
		width:245px;
		display:block;
		text-align:center;
		background-color:#44cbff;
		border-radius:5px;
		color:white;
		border:none;
		font-size:20px;
		float:left;
		margin-right:20px;
	}
	.opacity{
		.lh(50px);
		width:245px;
		display:block;
		text-align:center;
		background-color:transparent;;
		border-radius:5px;
		color:white;
		border:none;
		font-size:20px;
		border:1px solid white;
		float:left;
	}
}
.ui-dialog{
	.ui-widget-header{
		background:none;
		border:none;
	}
}
.watchDemo{
	text-align:center;
}