@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/Lato-Regular.eot");
    src: url("../fonts/Lato-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoSemiBold";
    src: url("../fonts/Lato-Semibold.eot");
    src: url("../fonts/Lato-Semibold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Lato-Semibold.woff") format("woff"),
    url("../fonts/Lato-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoLight";
    src: url("../fonts/Lato-Light.eot");
    src: url("../fonts/Lato-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Lato-Light.woff") format("woff"),
    url("../fonts/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoItalic";	
    src: url("../fonts/Lato-Italic.eot");
    src: url("../fonts/Lato-Italic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Lato-Italic.woff") format("woff"),
    url("../fonts/Lato-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoMedium";
    src: url("../fonts/Lato-Medium.eot");
    src: url("../fonts/Lato-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Lato-Medium.woff") format("woff"),
    url("../fonts/Lato-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.mp{
	margin: 0;
	padding: 0;
}
.lh(@h){
	height:@h;
	line-height:@h;
}

.filter(@blur){
	-webkit-filter: blur(@blur);
	-moz-filter: blur(@blur);
	-o-filter: blur(@blur);
	-ms-filter: blur(@blur);
	filter: blur(@blur);
}
@img-path: "../i";

.i(@name){
	background-image: url("@{img-path}/@{name}");
	background-repeat:no-repeat;
}
.inner{
	width:1070px;
	margin:0 auto;
}
.clear{
	clear:both;
}
html,body{
	.mp;
    font-family: "LatoRegular";
}

.topMenu{
	height:120px;
	background-color:rgba(0,0,0,0.2);
	position:fixed;
	width:100%;
	z-index:200;
	transition: all 0.5s linear;
	

	
	.inner{
		width:1070px;
		margin:0 auto;
		#logo{
			.lh(120px);
			float:left;
			font-size:36px;
			color:white;
			text-decoration:none;
			transition: all 0.5s linear;
			span{
				color:#44cbff;
			}
		}
		ul{
			.mp;
			float:right;
			list-style:none;
			li{
				float:left;
				a{
					font-size:18px;
					text-decoration:none;
					line-height:120px;
					padding:10px 20px;
					color:white;
					transition: all 0.5s linear;
					&:hover{
						background-color:rgba(0,0,0,0.2);
						border-radius:5px;
					}
				}

			}
		}
	}
	&.small{
		background-color:white !important;
		height:73px;
		border-bottom:1px solid #ebebeb;
		.inner{
			#logo{
				.lh(73px);
				color:#c7c7c7;
			}
			ul{
				li{
					a{
						line-height:73px;
						color:#999999;
	
					}
				}
			}
		}
	}
}
.container{
		background-color:silver;
		
	.inner{
		width:1070px;
		margin:0 auto;
	}
}
.homePage{
	//padding-top:160px;
	width:570px;
	opacity:1;
	visibility:visible;
	transition: all 0.25s linear;
	position:absolute;
	top:0px;
	h1{
		.mp;
		font-size:54px;
		color:#333333;
		font-weight:normal;
	}
	span{
		display:block;
		font-size:24px;
		color:white;
		padding:40px 0 40px 0;
	}
	.blue{
		.lh(50px);
		width:245px;
		display:block;
		text-align:center;
		background-color:#44cbff;
		border-radius:5px;
		color:white;
		border:none;
		font-size:20px;
		float:left;
		margin-right:20px;
		cursor:pointer;
	}
	.opacity{
		.lh(50px);
		width:245px;
		display:block;
		text-align:center;
		background-color:transparent;;
		border-radius:5px;
		color:white;
		border:none;
		font-size:20px;
		border:1px solid white;
		float:left;
	}
}

.whatIs{
	.inner{
		width:1070px;
		margin:0 auto;
		h2{
			margin-top:90px;
			text-align:center;
			font-family: "LatoSemiBold";
			font-size:34px;
		}
		.line{
			width:60px;
			border-top:2px solid #b3b3b3;
			margin:0 auto;
			margin-bottom:60px;
		}
	.blue{
		.lh(50px);
		width:285px;
		display:block;
		text-align:center;
		background-color:#66d4ff;
		border-radius:5px;
		color:white;
		border:none;
		font-size:20px;
		float:left;
		margin-right:20px;
		cursor:pointer;
		margin-top: 31px;
		margin-bottom: 100px;
	}
		.left{
			position:relative;
	
			width:400px;
			h4{
				font-family: "LatoSemiBold";
				font-size:26px;
				margin-bottom:0px;
			}
			span{
				font-family: "LatoRegular";
				font-size:18px;
				color:#646566;
				line-height:27px;
			}
			img{
				position:absolute;
				right:-710px;
				top:0px;
			}
		}
		.right{
			float:right;
		}
	}
}


.whatSay{
	background-color:#edf3f5;
	border-top:1px solid #edf3f5;
	padding-bottom:110px;
	.inner{
		width:1070px;
		margin:0 auto;
		text-align:center;
		h2{
			margin-top:100px;
			text-align:center;
			font-family: "LatoSemiBold";
			font-size:34px;
		}
		.line{
			.i("line.png");
			width:180px;
			height:16px;
			margin:0 auto;
			margin-bottom:38px;
			
		}
		em{
			font-family: "LatoItalic";			
			font-size:24px;
			color:#646566;
		}
		>span{
			color:#969799;
			font-size:16px;
			span{
				font-family: "LatoMedium";	
				color:#44cbff;
			}
		}
		.arrows{
			height:32px;
			width:80px;
			margin:0 auto;
			margin-top:45px;

			.arrow-left{
				.i("arrow-left.png");
				width:32px;
				height:32px;
				float:left;
			}
			.arrow-right{
				.i("arrow-right.png");
				width:32px;
				height:32px;
				float:right;
			}

		}
	}
}

.ui-dialog{
	.ui-widget-header{
		background:none;
		border:none;
	}
}
.edit-dialog{
	border-radius:5px;
	.ui-dialog-titlebar-close{
		
		background:none;
		border:none;
		outline:none;
		.ui-button-icon-primary{
			.i("cross.png");
			width:14px;
			height:14px;
			background-position:50% 50%;
		}
	}

}
.watchDemo{
	text-align:center;
	.logo{
		.lh(80px);
		font-size:42px;
		color:#c7c7c7;
		margin:0px;
		font-family: "LatoRegular";
		font-weight:normal;
	}
	span{
		color:#969899;
	}
	h3.company{
		font-family: "LatoRegular";
		font-size:22px;
		color:#333333;
		font-weight:normal;
		margin-top:10px;
	}
	.sign{
		width:240px;
		height:70px;
		margin:0 auto;
		border:1px solid #44cbff;
		border-radius:5px;
		margin-top:50px;
		cursor:pointer;

		.name{
		    font-family: "LatoSemiBold";
			font-size:18px;
			color:#4c4c4c;
			margin-top: 14px;
			line-height: 25px;
		}
		.email{
			font-family: "LatoRegular";
			font-size:14px;
			color:#646566;
		}
	}
	.newViewer{
		.lh(48px);
		width:240px;
		color:white;
		background-color:#44cbff;
		border-radius:5px;
		font-size:15px;
		font-family: "LatoSemiBold";
		outline: none;
		border: none;
		margin-top:25px;
		margin-bottom:60px;
		cursor:pointer;
	}
}
.register{
	.left{
		width:50%;
		float:left;
	}
	.right{
		width:50%;
		float:left;
		
	}
}
.ui-widget-overlay{
	background:none;
	opacity:1;
	background-color:rgba(0,0,0,0.5);
}
.homeContainer{
	top:-120px;
	padding-top:120px;
	height:722px;
	position:relative;
	overflow:hidden;
	width:100%;
		
	.inner{
		position:relative;
		z-index:100;
	}
	.bg{
		.i("bg.jpg");
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		transition: all 0.5s linear;
		.dark{
			position:absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
		}
	}
}
.logo{
	.lh(120px);
	font-size:36px;
	color:white;
	text-decoration:none;
	span{
		color:#44cbff;
	}
}

.signIn{
	visibility:hidden;
	//display:none;
	transition: all 0.25s linear;
	width:782px;
	margin:0 auto;
	opacity:0;
	h2{
		margin-top:210px;
		text-align:center;
		color:white;
	}
	form{
		>div{
			float:left;
			margin-right:20px;
		}
	}
	.ava{
		margin-left:7px;
		img{
			border-radius:50px;
		}
	}
	.lock{
		.i("lock.png");
		background-position:50% 50%;
		height:48px;
		width:60px;
		border-radius:3px;
		margin-right:0px;
		cursor:pointer;
		background-color:silver;

		&.active{
			background-color:#56d66b;
		}
	}
	.username{
		width:300px;

		.inp{
			.i("user-icon.png");
			background-position:14px 50%;
			height:48px;
			border-radius:3px;
			background-color:white;
			border:1px solid #41bef0;

		}
	}
	.pass{
		width:300px;

		.inp{
			.i("lock-icon.png");
			background-position:14px 50%;
			height:48px;
			border-radius:3px;
			background-color:white;
			border:1px solid #41bef0;
		}
	}
	.text{
		color:white;
		font-size:14px;
		font-family: "LatoSemiBold";
		font-weight:bold;
		line-height:40px;
		a{
			color:#41bef0;
		}
		.checkbox{
			margin-top:12px;
			position:relative;
			width:32px;
			height:12px;
			border-radius:12px;
			float:left;
			background-color:silver;
			margin-right:13px;
			transition: all 0.5s linear;
			cursor:pointer;

			.circle{
				width:18px;
				height:18px;
				border-radius:18px;
				background-color:white;
				position:absolute;
				left:0px;
				top:-3px;
				transition: all 0.5s linear;
			}
			&.checked{
				background-color:#56d65e;
				.circle{
					left:inherit;
					right:0px;
				}
			}
		}
	}
	input{
		outline: none;
		margin-left: 40px;
		width: 254px;
		height: 50px;
		border: none;
		font-size: 16px;
		background-color: transparent;
	}

}
body.withLogin{
	.topMenu{
		background-color:rgba(0,0,0,0);
	}
	.homeContainer{
		.bg{
			.filter(36px);			
			.dark{
				background-color:rgba(0,0,0,0.2);
			}

		}
		.inner{
			.homePage{
				visibility:hidden;
				opacity:0;
			}
			.signIn{
				//display:block;
				visibility:visible;
				opacity:1;
			}
		}
	}
}

footer{
  background-color: #414243;
  height:580px;
  position:relative;
  .inner{
	  width:1070px;
	  margin:0 auto;
	  >div{
		  float:left;
		  width:33.33%;
		  color:white;
		  h3{
			  margin-top:95px;
			  font-size:26px;
			  margin-bottom:45px;
		  }
		  h2.logo{
			  .mp;
			  margin-top:95px;
			  margin-bottom:37px;
			  .lh(39px)
		  }
		  ul{
			  .mp;
			  list-style:none;
			  
			  li{
				  a{
					  color:white;
					  text-decoration:none;
				  }
			  }
		  }
	  }
  }
  .bottom{
	  .lh(100px);
	  text-align:center;
	  color:#808080;
	  font-size:18px;
	  position:absolute;
	  left:0px;
	  bottom:0px;
	  width:100%;
	  background-color:rgba(0,0,0,0.2);
  }
}
.login{
	.inner{
		width:785px;
		padding-bottom:100px;
	}
	h2{
		font-family: "LatoSemiBold";
		font-size:18px;
		color:#333333;
		margin-top:60px;
	}
	span{
		color:#a0a2a3;
		font-size:14px;
		line-height: 30px;
	}
	.left{
		width:482px;
		float:left;

		textarea{
			height:143px;
			width:482px;
			resize:none;
			border:1px solid #dbdbdb;
		}
	}
	.right{
		width:260px;
		float:right;
		.question{
			.lh(50px);
			width:261px;
			display:block;
			text-align:center;
			background-color:#44cbff;
			border-radius:5px;
			color:white;
			border:none;
			font-size:20px;
			float:left;
			margin-right:20px;
			cursor:pointer;
		}
	}
	.contact{
		width:100%;
		height:145px;
		border: 1px solid #dbdbdb;
	}
	.uploadContainer{
		width:259px;
		height:48px;
		border:1px solid #dbdbdb;
		border-radius:5px;
		.left{
			width:218px;
			height:48px;
			input{
				width:184px;
				height:45px;
				line-height:50px;
				border:none;
				outline:none;
				margin-left:3px;
				padding:0 17px 0 14px;
				outline-offset: 0px;
			}
		}
		.right{
			.i("folder.png");
			background-position:50% 50%;
			width:40px;
			height:48px;
			border-left:1px solid #dbdbdb;
		}
		&.link{
			.right{
				.i("link.png");	
			}	
		}
		&.long{
			width:488px;
			.left{
				width:447px;
				input{
					width:413px;
				}
			}
		}
		&.withlogo{
			width:300px;
		}
	}
	input[type="file"]{
		display:none;
	}
	.buttons{
		margin-top:50px;
		width:430px;
		margin:50px auto 0 auto;
		.decline{
			.lh(50px);
			width:180px;
			display:block;
			text-align:center;
			background-color:#eb6b56;
			border-radius:5px;
			color:white;
			border:none;
			font-size:15px;
			float:left;
			margin-right:50px;
			cursor:pointer;
		}

		.save{
			.lh(50px);
			width:180px;
			display:block;
			text-align:center;
			background-color:#5be371;
			border-radius:5px;
			color:white;
			border:none;
			font-size:15px;
			float:left;
			margin-right:20px;
			cursor:pointer;
		}
	}
	.collapseQuestion{
		border:1px solid #dbdbdb;
		border-radius:5px;
		padding:0 15px;
		margin-bottom:10px;
		background-color:#fafafa;
		position:relative;
		
		h2{
			margin:10px 0;
		}
		.close{
			.i("close.png");
			width:14px;
			height:14px;
			position:absolute;
			right: 3px;
			top: 8px;
			cursor:pointer;
		}
	}
}

.register{
	padding-left: 38px !important;

	h3{
		color:#333333;
		font-family: "LatoSemiBold";
		font-size:21px;
		color:#333333;
		margin-top:-10px;
	}
	input{
		position:relative;
		width:264px;
		height:46px;
		margin-bottom:24px;
		padding:0 17px;
		font-size:14px;
		outline:none;
		&:after{
			
			content:'*';
			color:#e85044;
			font-size:18px;
		}
	}
	textarea{
		width:264px;
		padding:0 17px;
		font-size:14px;
		resize: none;
		height: 197px;
		outline:none;
		line-height: 44px;
	}
	.continue{
		.lh(50px);
		width:180px;
		display:block;
		text-align:center;
		background-color:#44cbff;
		border-radius:5px;
		color:white;
		border:none;
		font-size:20px;
		float:right;
		margin-right:20px;
		cursor:pointer;
		margin-bottom:40px;
	}
}

.error{
	border:1px solid red !important;
}
.ui-dialog-titlebar-close{
	z-index:10;
}
.videoWatch{
	overflow:visible !important;
	min-height:400px !important;
	position:initial !important;
	.left{
		float:left;
		width:680px;
		padding: 0 40px 0 30px;
		h2{
			font-family: "LatoSemiBold";
			font-size:21px;
			color:#333333;
			text-transform:uppercase;
		}
		button{
			.lh(50px);
			width:180px;
			display:block;
			text-align:center;
			background-color:#44cbff;
			border-radius:5px;
			color:white;
			border:none;
			font-size:15px;
			cursor:pointer;
			float:right;
			margin-top:22px;
		}
		table{
			width:100%;
			tr{
				height:50px;
				th{
					color:#a0a2a3;
					font-size:14px;
					font-weight:normal;
					border-bottom:1px solid #f0f0f0;
					border-top:1px solid #f0f0f0;
				}
				td{
					font-size:18px;
					color:#333333;
					.checkbox{
						cursor:pointer;
						height:25px;
						width:25px;
						margin:0 auto;
						border-radius:25px;
						border:1px solid #e0e0e0;
						&.checked{
							.i("check.png");
							background-position:50% 50%;
							background-color:#5be371;
                          border:1px solid #5be371;
						}
					}
				}
				&:last-child{
					td{
						border-bottom:1px solid #f0f0f0;
					}	
				}
			}

		}
	}
	.right{
		position:absolute;
		right:0px;
		top:0px;
        width:400px;
		height: 100%;
		background-color: #fafbfc;
		border-left:1px solid #f0f0f0;
		text-align:center;
		img.logo{
			margin:85px auto 0 auto;
		}
		img.social{
			margin-top:40px;
		}
		button{
			.lh(50px);
			width:245px;
			display:block;
			text-align:center;
			background-color:#44cbff;
			border-radius:5px;
			color:white;
			border:none;
			font-size:15px;
			cursor:pointer;
			margin:10px auto 0 auto;
		}
		span{
			font-size:12px;
			color:#808080;
		}

	}
	.relatedVideo{
		h3{
			font-size:14px;
			color:#333333;
			font-family: "LatoMedium";
		}
		ul{
			.mp;
			list-style:none;
			li{
				.i("pdf.png");
				padding-left:30px;
				background-position:0px 50%;
				float: left;
				margin-right: 30px;
				a{
					font-size:14px;
					color:#012cb9;
				}
			}
		}

	}
	.questionSection{
		display:none;
	}
	.videoSection{
		video{
			margin-left:-17px;
		}
	}

}



.registration{
	text-align:center;
	padding-top:1px;

	h3{
		margin:0;
	}
	.inner{
		width:1070px;
		margin:0 auto;
		margin-top:160px;
		input{
			height:46px;
			width:270px;
			padding:0 15px;
			margin:24px 8px 0 8px;
			&.big{
				width:595px;
			}
		}
		#ava{
			display:none;
		}

	}
	img{
		margin-top:65px;
		margin-bottom:45px;
		border-radius: 215px;
		cursor:pointer;
	}

	.buttons{
		width:440px;
		margin:150px auto 100px auto;
		font-family: "LatoSemiBold";
		font-weight:bold;
		.cancel{
			.lh(50px);
			width:180px;
			display:block;
			text-align:center;
			background-color:#eb6b56;
			border-radius:5px;
			color:white;
			border:none;
			font-size:15px;
			float:left;
			margin-right:20px;
			margin-left:20px;
			cursor:pointer;
			font-family: "LatoSemiBold";
			font-weight:bold;
		}

		.registerBtn{
			.lh(50px);
			width:180px;
			display:block;
			text-align:center;
			background-color:#5be371;
			border-radius:5px;
			color:white;
			border:none;
			font-size:15px;
			float:left;
			margin-right:20px;
			margin-left:20px;
			cursor:pointer;
			font-family: "LatoSemiBold";
			font-weight:bold;
		}
	}
}
.ui-widget-header.ui-progressbar-value {
  background: none;
  background-color: #E86562;
  &.weak{
	background-color: #E86562;
  }
  &.good{
	background-color: #edd445;
  }
  &.strong{
	background-color: #5BE371;
  }
}
.ui-progressbar {
  height: 4px;
  margin-left: 220px;
  margin-top: 4px;
  width: 302px;
  border-radius: 0px;
}