<div class="subordinatesContainer">
    <div class="registration">
        <div class="inner">
            <div class="required">
                <input type="text" class="firstName" placeholder="First name"/>
            </div>
            <div class="required">
                <input type="text" class="lastName" placeholder="Last name"/>
            </div>
            <br/>

            <div class="required">
                <input type="text" placeholder="User name" class="userName"/>
            </div>
            <div class="required">
                <input class="email" type="text" placeholder="Email"/>
            </div>
            <br/>
            <div class="role">
                <span data-role="2">Administrator</span>
                <span data-role="3" class="active ">Viewer</span>
            </div>
        </div>

        <div class="buttons create">
            <button class="cancel">CANCEL</button>
            <button class="createBtn">CREATE</button>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<div class="inner">
<div id="subordinates" class="subordinates">
    <h3>You don't have subordinates yet</h3>
</div>
</div>


