<div class="aboutUs">
  <div class="inner">
	<h2>ABOUT US</h2>
	<div class="line"></div>
	<p>DemoRocket was created because we needed it. Our team had
	  launched a cool new product with lots of great features but we
	  were worried that our prospects would be overwhelmed by the
	  choices we offered. We needed something affordable that would
	  tell us what was important to our customers and we needed to
	  learn quickly. We wanted to know who was really watching our
	  videos and whether or not they needed more information to
	  make a decision.</p>
	<p>As we tested it out and saw the results we realized how
	  affordable and effective this was to help launch a new product
	  or service and we decided to share it. We hope you enjoy our
	  videos and would love to help you get results.</p>
	  <ul class="founders">
		  <li>
			  <img src="/i/founders/first.jpg" alt=""/>
			  <div class="about-founders">
				  <p class="name">Harvey Pierce</p>
				  <p class="position-founders">Co-Founder/CEO</p>
				  <a href="#" class="social-ico fb"></a>
				  <a href="#" class="tw social-ico "></a>
			  </div>
		  </li>
		  <li>
			  <img src="/i/founders/second.jpg" alt=""/>
			  <div class="about-founders">
				  <p class="name">Flenn Jimenez</p>
				  <p class="position-founders">Co-Founder/BD Manager</p>
				  <a href="#" class="social-ico in"></a>
				  <a href="#" class="social-ico tw"></a>
			  </div>
		  </li>
		  <li>
			  <img src="/i/founders/third.jpg" alt=""/>
			  <div class="about-founders">
				  <p class="name">Annie Hoffman</p>
				  <p class="position-founders">Back-End Developer</p>
				  <a href="#" class="social-ico fb"></a>
				  <a href="#" class="social-ico tw"></a>
			  </div>
		  </li>
	  </ul>
  </div>

</div>
