<div class="container analitics">
  From:<input type="text" id="startDate"/>&nbsp;To:<input type="text" id="endDate"/>
   <h2>Site Visits</h2>
  <svg id="siteVisits" width="1000" height="500"></svg>
  <h2>Document Downloads</h2>
  <svg id="docDownload" width="1000" height="500"></svg>

  <h2>Survay Results</h2>
  <ul class="questionsPie">
	<%_.each(questions,function(item,index){%>
	<li>
	  <div>Question<%=index+1%>: <%=item.name%></div>
	    <svg id="question<%=index%>" width="1000" height="500"></svg>
	</li>
	<%})%>
  </ul>
</div>
