<div class="container analitics">
  From:<input type="text" id="startDate"/>&nbsp;To:<input type="text" id="endDate"/>
  <h2>Site Visits</h2>
  <div class="legend">
	<ul>
	  <li class="invitedPr"><span></span>Invited Prospects</li>
	  <li class="newPr"><span></span>New Prospects</li>
	  <li class="totalPr"><span></span>Total Views</li>
	  <li class="print"><span></span></li>
	</ul>
  </div>
  <svg id="siteVisits" width="1000" height="500"></svg>
  <h2>Video View</h2>
  <svg id="videoView" width="1000" height="500"></svg>

  <h2>Survay Results</h2>
  <ul class="questionsPie">

  </ul>
  <div class="clear">
  </div>
  <h2>File Downloads</h2>
  <svg id="docDownload" width="1000" height="500"></svg>

  <h2>Detailed Prospect Activity</h2>
  <div class="customSelect">
	<span class="current"></span>
	<span class="arrow"></span>
	<ul>
	</ul>
  </div>
  <div id="prospectTable"></div>
  <div id="prospectActivity"></div>
  
  <h2>"Contact Me" Submission</h2>
  <div id="contactMe"></div>
  
</div>
