<div class="container analitics">
  From:<input type="text" id="startDate"/>&nbsp;To:<input type="text" id="endDate"/>
  <h2>Site Visits</h2>
  <svg id="siteVisits" width="1000" height="500"></svg>
  <h2>Video View</h2>
  <svg id="videoView" width="1000" height="500"></svg>

  <h2>Survay Results</h2>
  <ul class="questionsPie">

  </ul>
  <div class="clear">
  </div>
  <h2>Document Downloads</h2>
  <svg id="docDownload" width="1000" height="500"></svg>

  <h2>Detailed Prospect Activity</h2>
  Domain:
  <select id="domain">
  </select>
  Prospect:
  
  
  <h2>"Contact Me" Submission</h2>
  <table class="contactMe" cellspacing="0" cellpadding="0">
	<tr>
	  <th>Name</th>
	  <th>Email</th>
	  <th>Date</th>
	  <th>Message</th>
	</tr>
	<%_.each(contactList,function(item){%>
	<tr>
	  <td><%=item.name%></td>
	  <td><%=item.email%></td>
	  <td><%=item.date%></td>
	  <td><%=item.message%></td>
	</tr>
	<%})%>
  </table>
  
  
</div>
