  <table class="contactMe" cellspacing="0" cellpadding="0">
	<tr>
	  <th><span>Name</span></th>
	  <th><span>Email</span></th>
	  <th><span>Date</span></th>
	  <th><span>Message</span></th>
	</tr>
	<%_.each(contactList,function(item, index){%>
	<tr class='<%=!index?"current":""%>'>
	  <td><span><%=item.name%></span></td>
	  <td><span><%=item.email%></span></td>
	  <td><span><%=item.sentAt%></span></td>
	  <td><span><%=item.message%></span></td>
	</tr>
	<%})%>
  </table>

  <h3 class="messageIcon">Message</h3>
<p class="textMessage"><%=contactList[0].fullMessage%></p>
  
