<div class="innerContainer">
  <h2 class="survayName"><%=name%></h2>
  <ul>
	<%_.each(questions,function(question,index){%>
	<li>
	  <span class="silver">Question <%=index+1%>:</span> <%=question.question%>

	  <span class="result <%=question.item%>"><%=question.item=="some"?"Somewhat interested":(question.item=="very"?"Very interested":"Not interested")%></span>
	  
	</li>
	<%})%>
  </ul>
  <h3>Videos Watched</h3>
	<%_.each(videos,function(video, index){%>
	<span>
	  <%=video.video.split("/").pop().split(".").shift()%>   <span class="silver">(<%=video.time%>)</span><%=index==videos.length-1?"":","%>
	</span>
	<%})%>
  <h3>Documents Downloaded</h3>
  <ul>
	<%_.each(documents,function(item, index){%>
	<span>
	  <%=item.split("/").pop().split(".").shift()%><%=index==documents.length-1?"":","%>
	</span>
	<%})%>
  </ul>
</div>

